.box{
    height: 100px;
    width: 300px;
    background-color: pink;
    /*animation-name: coloranimation;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-delay: 0;
    animation-iteration-count:3;
    animation-direction: normal;*/
    animation: coloranimation 4s ease-in 0s infinite normal;
}

@keyframes coloranimation {
    0%{
        font-size: 20px;
        background-color: green; 
    }
    50%{
        font-size: 40px;
        background-color: blue;
        border-radius : 15px;
    }
    100%{
        background-color: chocolate;
    }
}
